* {
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}

.border-secondary {
	border-color: #303030 !important;
}

p {
	font-size: 1.25rem;
	text-indent: 5%;
}

a {
	text-decoration: none;
}

header {
	display: unset;
}

.intro {
	width: 50%;
	margin: 0 5%;
	opacity: 0;
	transform: translateX(-50%);
	animation: fadeIn 1.5s ease-in-out forwards;
}

.photo-container {
	height: 50%;
	overflow: hidden;
	opacity: 0;
	transform: translateX(80%);
	animation: fadeIn 1.5s ease-in-out forwards;
}

.photo-container .photo {
	max-height: 100%;
	margin: 0 auto;
}

.name,
.title {
	text-align: center;
	color: #fff;
}

.nav-item {
	opacity: 0;
	transform: translateY(-75%);
	animation: fadeIn 1s ease-in-out forwards, fall 1.5s ease-in-out forwards;
}

.fadeIn {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}

.typing-text {
	overflow: hidden;
	white-space: nowrap;
	animation: typing 1.5s steps(30, end) forwards;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
		white-space: wrap;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fall {
	to {
		transform: translateY(0);
	}
}

.list-group-item:hover i.text-html {
	color: #e34c26 !important;
}

.list-group-item:hover i.text-css {
	color: #264de4 !important;
}

.list-group-item:hover i.text-js {
	color: #F0DB4F !important;
	border-radius: 1px;
}

.list-group-item:hover i.text-nodejs {
	color: #3c873a !important;
	border-radius: 10px;
}

.list-group-item:hover i.text-bootstrap {
	color: #563d7c !important;
}

.offcanvas {
	top: 0;
}

.btn {
	padding: 1.125rem 1.875rem;
	font-size: 1rem;
}

.project-content {
	display: none;
	align-items: center;
}

.project-content.first {
	display: flex;
}

.st0 {
	fill: none;
	stroke: #dee2e6bf;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.st1 {
	fill: none;
	stroke: #dee2e6bf;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}