* {
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

p {
	font-size: 1.25rem;
	text-indent: 5%;
}

a {
	text-decoration: none;
}

header {
	max-width: 100%;
	display: unset;
}

.profile {
	height: 610px;
	padding: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(90deg, #1E90FF, #286cb1);
}

.intro {
	width: 50%;
	margin: 0 5%;
	opacity: 0;
	transform: translateX(-50%);
    animation: fadeIn 1.5s ease-in-out forwards;
}

.photo-container {
	margin: 0 5%;
	height: 50%;
	overflow: hidden;
	opacity: 0;
	transform: translateX(80%);
    animation: fadeIn 1.5s ease-in-out forwards;
}

.photo-container .photo {
	max-height: 100%;
	margin: 0 auto;
}

.name,
.title {
	text-align: center;
	color: #fff;
}

nav {
	background-color: #3449b2;
	overflow: hidden;
	position: sticky;
	z-index: 100000;
	top: 0;
	max-height: 70px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    transition: background-color 0.3s ease;
	display: inline-block;
	max-width: 20%;
	width: calc(20% - 2px);
}

nav li a {
	text-align: center;
	max-width: 100%;
	display: block;
    color: #ecf0f1;
    font-weight: 700;
    padding: 1.625rem 0;
    transition: color 0.3s ease;
    opacity: 0;
	transform: translateX(-50%);
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
		transform: translateX(0);
    }
}

a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3498db;
    visibility: hidden;
    transform: rotate(0);
    transition: all 0.3s ease;
}

nav li:hover {
    background-color: #223079;
}

nav li:hover a:hover:before {
    visibility: visible;
    transform: rotate(180deg);
}

.biography {
	max-width: 100%;
	height: 210px;
	padding: 0 4.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bio-container {
	text-align: center;
	font-size: 20px;
}

.skills {
	text-align: center;
}

.skills h2 {
	font-size: 1.875rem;
}

.skill-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-container ul {
	width: 100%;
	background-color: #0099ff;
	padding: 0 3.125rem;
	display: flex;
	justify-content: space-around;
}

.skill-container li {
	position: relative;
	z-index: 100;
	max-width: 21%;
	min-height: 140px;
	list-style-type: none;
	background-color: #061564;
	color: #c5cfd1;
	padding: 2rem 1.25rem;
	margin: 5% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	line-height: 1.4;
}

.skill-container li::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	border: none;
	background-color: #15267a;
	transform: rotate(0);
	transition: transform 0.3s ease-in-out;
}

.skill-container li:hover {
	background-color: #15267a;
}

.skill-container li:hover::before {
	visibility: visible;
	border: 3px solid #15267a;
	transform: rotate(180deg);
}

.projects {
	text-align: center;
	max-width: 100%;
	overflow-x: hidden;
}

.projects h2 {
	font-size: 2rem;
}

.project-container {
	margin: 0 5%;
	display: flex;
	justify-content: center;
}

.project-container h3 {
	font-size: 1.25rem;
}

.project-content {
	display: none;
	justify-content: center;
	align-items: center;
}

.project-detail {
	max-width: 40%;
	margin: auto 0;
}

.project-content.first {
	display: flex;
}

.project-overview {
	width: 40%;
	overflow: hidden;
}

.project-overview img {
	max-width: 100%;
}

.btn-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}

.btn {
	padding: 1.125rem 1.875rem;
	border: none;
	border-radius: 3px;
	outline: none;
	background-color: #6C757D;
	color: #E0E6F0;
	cursor: pointer;
	font-size: 1rem;
}

.btn:hover {
	background-color: #8f979e;
	color: #3a3a3a;
}

.btn:active {
	outline: 3px solid #3a3a3a;
}

.attribution {
	margin-left: 4.2%;
	text-align: center;
}

.contact {
	text-align: center;
}

.contact a {
	color: #3a3a3a;
}